
module logrotate-audit-log-fix 1.0;

require {
	type logrotate_t;
	type auditd_log_t;
	class dir { read write add_name remove_name };
	class file { rename setattr read create ioctl write getattr unlink open };
}

#============= logrotate_t ==============
#!!!! The source type 'logrotate_t' can write to a 'dir' of the following types:
# varnishlog_log_t, openshift_var_lib_t, var_lock_t, tmp_t, logrotate_var_lib_t, logrotate_tmp_t, logfile, named_cache_t, acct_data_t, virt_cache_t, var_spool_t, abrt_var_cache_t, var_lib_t, var_log_t, mailman_log_t

allow logrotate_t auditd_log_t:dir { read write add_name remove_name };
#!!!! The source type 'logrotate_t' can write to a 'file' of the following types:
# varnishlog_log_t, openshift_var_lib_t, wtmp_t, logrotate_var_lib_t, logrotate_tmp_t, logfile, named_cache_t, acct_data_t, virt_cache_t, logrotate_lock_t, var_spool_t, abrt_var_cache_t, mailman_log_t

allow logrotate_t auditd_log_t:file { rename setattr read create getattr write ioctl unlink open };
