
module check_disk_dns 1.0;

require {
	type named_conf_t;
	type kernel_t;
	type nagios_services_plugin_t;
	type etc_t;
	type nagios_checkdisk_plugin_t;
	class capability { dac_read_search dac_override };
	class system module_request;
	class file getattr;
}

#============= nagios_checkdisk_plugin_t ==============
allow nagios_checkdisk_plugin_t etc_t:file getattr;
allow nagios_checkdisk_plugin_t named_conf_t:file getattr;
allow nagios_checkdisk_plugin_t self:capability { dac_read_search dac_override };

#============= nagios_services_plugin_t ==============
#!!!! This avc can be allowed using the boolean 'domain_kernel_load_modules'

allow nagios_services_plugin_t kernel_t:system module_request;
