
module checkhardware 1.0;

require {
	type nagios_checkdisk_plugin_t;
	type memory_device_t;
	type nrpe_t;
	type sudo_exec_t;
	type initrc_t;
	type nfsd_fs_t;
	class chr_file { read write execute open };
	class capability { sys_rawio audit_write };
	class file { read execute open getattr execute_no_trans };
	class netlink_audit_socket { nlmsg_relay create };
	class unix_dgram_socket sendto;
	class dir getattr;
}

#============= nagios_checkdisk_plugin_t ==============
allow nagios_checkdisk_plugin_t nfsd_fs_t:dir getattr;

#============= nrpe_t ==============
allow nrpe_t initrc_t:unix_dgram_socket sendto;
allow nrpe_t memory_device_t:chr_file { read write execute open };
allow nrpe_t self:capability { sys_rawio audit_write };
allow nrpe_t self:netlink_audit_socket { nlmsg_relay create };
allow nrpe_t sudo_exec_t:file { read execute open getattr execute_no_trans };
