
module get_services_nrpe 1.0;

require {
	type syslog_conf_t;
	type nrpe_t;
	type rpm_exec_t;
	type rpm_var_lib_t;
	class dir { search getattr };
	class file { getattr read open execute execute_no_trans };
}

#============= nrpe_t ==============
allow nrpe_t rpm_exec_t:file { read execute open execute_no_trans };
allow nrpe_t rpm_var_lib_t:dir { search getattr };
allow nrpe_t rpm_var_lib_t:file open;
allow nrpe_t syslog_conf_t:file { read getattr open };
