
module mysql_nrpe 1.0;

require {
	type mysqld_port_t;
	type nrpe_t;
	class tcp_socket name_connect;
}

#============= nrpe_t ==============
allow nrpe_t mysqld_port_t:tcp_socket name_connect;
