
module redis-syco 1.0;

require {
	type redis_port_t;
	type redis_t;
	class tcp_socket name_connect;
}

#============= redis_t ==============
allow redis_t redis_port_t:tcp_socket name_connect;
